conllu
datasets
ipympl
ipywidgets
jupyter_server!=2.11.0
jupyterlab
jupyterlab_rise
jupytext
nbconvert
numpy
matplotlib
pandas
regex
sacremoses
seaborn
scikit-learn
tol-colors
torch
transformers
RISE
beautifulsoup4
fastapi
ipycytoscape
ipympl
Jinja2
lxml
ruff
scipy
spacy
spacy_streamlit
sqlalchemy
streamlit
uvicorn
python-multipart
