<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Satirical BART</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">	 -->
	<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="../static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="../static/css/flexslider.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="../static/css/style.css">

	<!-- Modernizr JS -->
	<script src="../static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="#">BART<span>.</span></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>							
							<li  class="active"><a href="#">Satirical text generator</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>

	<div id="fh5co-modele">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Text generation</h2>
					<p>This is the best satirical text generation ever :)</p>
					<form action="/generate_text" method="post">
        					<label for="input_text">Input text:</label><br>
        					<textarea id="input_text" name="input_text" rows="4" cols="50"></textarea><br>
        					<input type="submit" class="btn btn-primary btn-lg btn-learn" type="submit" value="Generate in english"> <input type="submit" class="btn btn-primary btn-lg btn-learn" type="submit" value="Générez en français">
    					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div id="fh5co-features">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-10 col-md-offset-1 text-center fh5co-heading">
					<h2>Discover it with us!</h2>
					<p>The satirical BART is a model specifically crafted to turn regular sentences into satirical ones. Trained on a diverse dataset in english and in french that includes satire examples, the model learns to recognize linguistic patterns and contextual cues for humor. By applying this knowledge, it skillfully transforms ordinary sentences into witty, satirical expressions, infusing them with irony and cleverness.</p>
				</div>
			</div>
		</div>
	</div>

	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<h1>Sarcasm: the last refuge of modest and chaste-souled people when the privacy of their soul is coarsely and intrusively invaded. </h1>
							<h2>Fyodor Dostoevsky</h2>							
							<p><a class="btn btn-primary btn-lg btn-learn" href="#">Return to text generator</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<div id="fh5co-slider">
	</div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget">
					<h4>BART</h4>
					<p>The satirical neural network is a model specifically crafted to turn regular sentences into satirical ones.</p>
				</div>

				<div class="col-md-4 col-md-push-1 fh5co-widget">
					<h4>Creators Information</h4>
					<ul class="fh5co-footer-links">
						<li>Paris-Nanterre Université, <br> Île-de-France, France </li>
						<li><a href="https://github.com/AlinaMV/interface_web">github/interface_web</a></li>
					</ul>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a></small>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>
	
	<!-- jQuery -->
	<script src="../static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="../static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="../static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="../static/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="../static/js/jquery.flexslider-min.js"></script>
	<!-- Main -->
	<script src="../static/js/main.js"></script>

	</body>
</html>

